* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
	color: #333; /* Text color */
	background-color: #fff; /* Background color */
}

h1 {
	color: #007bff; /* Heading color */
}

p {
	margin-bottom: 10px;
}
